{% extends 'base.html.twig' %}

{% block title %}AppBundle:Review:index{% endblock %}

{% block body %}
<h1>Welcome to the Review:index page</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>User Rated</th>
                <th>Review Author</th>
                <th>Text</th>
                <th>Publication date</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td> {{ review.id }}</td>
                <td> {{ review.userRated }}</td>
                <td> {{ review.reviewAuthor }}</td>
                <td> {{ review.text }}</td>
                <td> {% if review.publicationDate %}{{ review.publicationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td> {{ review.note }}</td>
            </tr>

        {% endfor %}

        </tbody>
    </table>
{% endblock %}
